
@page
@model IndexModel
@{
    ViewData["Title"] = "Fizz Buzz";
}
<div class="text-center">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <form method="post">
        <label for="Number">Numer:</label>
        <input name="Number" />
        <br />
        <button type="submit">Zatwierdź</button>
    </form>
</div>